body {
    color: black;
    margin: 10px;
    padding: 50px;
    font-family: sans-serif, helvetica, arial;
    font-size: 16px;
    background: black;
}

img {
    width: 400px;
    float: left;
    margin: 0px 10px 10px 0px; 
}

a {
    color: green;
    text-decoration: none;
}

a:visited {
    color: lightgrey
}

h1 {
    font-size: 100px;
    line-height: 1;
    font-family: Impact;
    animation: color-change 3s infinite;
}

h2 {
    font-size: 45px;
    text-decoration: underline;
}

header, footer {
    background: black;
    color: white;
    text-align: center;
}

.text {
    padding: 0px 100px 15px 100px
}

.block {
    border-style: solid;
    padding: 0px 100px 30px 100px
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 30px;
}

.clear {
    clear: both;
}

/* HEADER ANIMATION */

@keyframes color-change {
    0% { color: lightgoldenrodyellow; }
    25% { color: lightblue; }
    50% { color: lightsalmon; }
    75% { color: lightblue; }
    100% { color: lightgoldenrodyellow; }
  }

/* PROJECTS SECTION */

#projects {
    background: lightgoldenrodyellow;
    overflow: hidden;
}

/* MISSION SECTION */

#mission {
    background: lightblue;
}

/* HELP SECTION */

#help {
    background: lightsalmon;
}
